@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f4f4f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f4f5;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}

#headerPattern {
  width: 100%;
  height: 100%;

  --s: 170px;
  --c1: #1a4341;
  --c2: #4f807c;
  --c3: #356260;
  --thickness: 15px;

  background-color: var(--c1);

  background-image: repeating-linear-gradient(
      45deg,
      var(--c2) 0 var(--thickness),
      transparent var(--thickness) calc(var(--thickness) * 2)
    ),
    repeating-linear-gradient(
      -45deg,
      var(--c3) 0 var(--thickness),
      transparent var(--thickness) calc(var(--thickness) * 2)
    );

  background-size: var(--s) var(--s);
}